<p>
    <mat-toolbar  class="fixed-header" color="primary">
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button> -->
        <button class="ham" mat-icon-button (click)="toggleSidenav()">
          <mat-icon *ngIf="isAdminComponent" >menu</mat-icon>
          <mat-icon *ngIf="!isAdminComponent" >home</mat-icon>
        </button>
        
      <span class="heading">Employee Management</span>
      <span class="example-spacer"></span>
      <button  [matMenuTriggerFor]="menu" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>add_box</mat-icon>
      </button>
                  <mat-menu  #menu="matMenu" yPosition="below" class="custom-mat-menu">
                                 <button class="btn" mat-menu-item [routerLink]="'/login'" routerLinkActive="active">
                                         Login
                                 </button>
                                 <button *ngIf="isAdminComponent" class="btn" mat-menu-item [routerLink]="'/employees'"  routerLinkActive="active">
                                        Visit Employees
                                </button>
                                <button  class="btn" mat-menu-item [routerLink]=" '/employeeDashboard' " routerLinkActive="active">
                                  Visit Employee Dashboard
                              </button>
                                <button *ngIf="!isAdminComponent" class="btn" mat-menu-item [routerLink]="isAdmin? '/admin' : '/login' " routerLinkActive="active">
                                    Visit Admin Dashboard
                                </button>
                   </mat-menu>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    
  </p>
  <hr>

  <hr>
