
<div class="top">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]=" signUpModel.username">
					<input type="email" name="email" placeholder="Email" [(ngModel)]=" signUpModel.email">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]=" signUpModel.password">
					<button (click)="onSignup()" >Sign up</button>
				</form>
			</div>

			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="userName" placeholder="Username" [(ngModel)]=" loginModel.username">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]=" loginModel.password">
					<button (click)="onLogin()" >Login</button>
				</form>
			</div>
	</div>
</div>