/* Default styles for calendar container */
#calendar {
  width: 80%;
  height: 70vh;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  #calendar {
    max-width: 100vw; /* Full width for smaller screens */
    width: 90%;
    height: 70vh;
  }
}
